$green: #518D4B;
$darker-green: darken($green, 5%);
$orange: #EEA83F;
$yellow: #ffff77;
$black: #444;
$grey: #f2f2df;
$lighter-grey: lighten($grey, 3%);
$roundness: 4px;
$text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
