<section class="content-section bg-light content-animation">
	<div class="container">
		<div class="row">
			<div class="col-12 offset-lg-4 col-lg-4 offset-md-3 col-md-6 py-5">				
				<div class="card text-secondary mb-4">
					<div class="card-body">
						<h2 class="h5 pb-3 card-title">
							Password assistance
						</h2>
						<form id="login" [formGroup]="inputForm"  *ngIf="!status" class="ajax-auth card border-0 p-0" action="login" method="post" (click)="$event.stopPropagation()">

					    	<!--button class="close float-right btnClose fa-lg" (click)="dismiss()">&times;</button-->
					        <p class="status text-danger f14" *ngIf="error!==null"><i class="fa fa-warning"></i> Login failed. Email/Password is invalid</p>
							<p class="f14">Enter the email address associated with your account.</p>
					        <div class="md-form form-group">
					            <label for="emailId">Email</label>
					            <input type="text" id="emailId" class="w-100 d-block form-control" name="emailId" formControlName="emailId">
					        </div>

					        <div class="text-center mt-3 mb-3 btn-group d-flex" role="group">
					            <button class="submit_button btn w-100" type="submit" (click)="sendResetPassword()">Send Reset Password Link</button>
					            <!--button class="submit_button btn btn-white w-100" type="button" (click)="dismiss()">Cancel</button-->
					        </div>
						</form>
						<div class="" *ngIf="status=='SUCCESS'">
							<p class="f14 text-success">An email has been sent to {{inputForm.value.emailId}} with reset password link, please follow the instruction in email.</p>
							<!--button class="submit_button btn btn-white w-100" type="button" (click)="dismiss()">Cancel</button-->
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>
