<section class="content-section">
	<div class="section1 striped-bg-gradient content-animation">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
          <h2>KWHCoin ICO Participation Guide</h2>
          <h5>What does ICO stand for?</h5>
          <p>Initial Coin Offering</p>

          <h5>How will the ICO work?</h5>
          <p>On February 8, 2018 at 12:00 PM PST (20:00 UTC), our website (http://www.kwhcoin.com) will display the link to fill out your personal contact information in a KYC (Know Your Customer) process. You will then be directed to the page with the address where you can send your contributions in ETH.</p>

          <h5>When will the ICO start and when will it end?</h5>
          <p>The ICO will begin at 12:00 PM PST (20:00 UTC) on February 8, 2018 and end at 12:00 PM PST (20:00 UTC) on March 8, 2018, or when all of the sale tokens have been sold, whichever is earlier.</p>

          <h5>Who is eligible to participate in the ICO?</h5>
          <p>The ICO is open to all except residents of Cuba, Iran, North Korea, Syria, the Crimea region of Ukraine, or citizens/individuals located in a geographic area that is subject to UN-, US-, EU-, CH- sanctions or embargoes.</p>

          <h5>Is there a whitelist?</h5>
          <p>No.</p>

          <h5>Is there a KYC?</h5>
          <p>Yes.  Please note that KWHCoin may require you to provide more detailed information if needed. In case you won’t be able to provide this information, we reserve the right to cancel tokens allocation without any compensation. KWHCoin uses your personal data for internal purposes only and complies with all measures to ensure the confidentiality of your data.</p>

          <h5>What is the price of KWH in the ICO?</h5>
          <p>KWH will be allocated to buyers on a first-come, first-served basis. The ETH/KWH price will be set at the start of the ICO at $0.30 USD and will be determined at an average ETH price on Feb 8.</p>

          <h5>Are there any airdrops?</h5>
          <p>No.</p>

          <h5>When will bounty tokens be distributed?</h5>
          <p>Bounty tokens will be distributed after the ICO has concluded.</p>

          <h5>How long will bounty last?</h5>
          <p>The bounty program will end on March 9, 2018.</p>


          <h5>How do I buy KWH in the ICO?</h5>
          <p>To buy KWH, you will need to send the desired amount of ETH to the Ethereum smart contract address published on the token sale page of our website (<a href="https://www.kwhcoin.com">https://www.kwhcoin.com</a>). You will need to acquire ETH ahead of time in preparation for the ICO.</p>

          <h5>Why do I have to set gas and what should it be set to?</h5>
          <p>Ethereum charges a small transaction fee called Gas to transact on their blockchain. The gas should be set to 300,000.</p>

          <h5>What do I need to set the Gwei to?</h5>
          <p>This is not required</p>

          <h5>How many tokens will be sold in the public sale?</h5>
          <p>102,500,000. The total supply is 195,000,000.</p>

          <h5>What is the minimum ETH investment?.</h5>
          <p>There is no minimum, but the maximum is 25,000 per person.</p>

          <h5>How do I buy ETH?</h5>
          <p>We cannot step you through this process. Instead, we recommend reading this helpful guide and following the instructions listed there:<br> <a href="https://coincentral.com/how-to-buy-ethereum/">https://coincentral.com/how-to-buy-ethereum/</a></p>

          <h5>What wallet will I need to store the tokens?</h5>
          <p>Your wallet must be ERC-20 compatible. One of the most popular is MyEtherWallet.</p>

          <h5>When will I receive my KWH tokens?</h5>
          <p>Tokens will be distributed by smart contract after the ICO ends. They will be sent to the same ETH address you used to contribute so you must not send ETH directly from an exchange.</p>

          <h5>When will you be listed on an exchange?</h5>
          <p>We have been in contact with multiple high-profile exchanges and will publish the details as soon as they are finalized.</p>

          <h5>What exchanges are you hoping to list on?</h5>
          <p>We have been advised by Legal not to discuss anything regarding exchanges, including the timeline, which ones we’ve applied to, etc. Thank you for understanding.</p>

          <h5>What will happen to any unsold coins?</h5>
          <p>Coins that are not sold during the ICO will be integrated into the KWHCoin ecosystem as token for renewable energy generation and network compensation.</p>

          <h5>How do I see my tokens in my wallet?</h5>
          <p>You need to add them as a custom token to your wallet. Here are the instructions if you are using MyEtherWallet.</p>
          <ul class="default">
            <li>Go to MyEtherWallet.com and click 'View Wallet Info'</li>
            <li>Click the 'Add Custom Token' button</li>
            <li>You should be prompted to enter 3 pieces of information, the Address, Token Symbol, and Decimals.</li>
            <li>Enter the following pieces of information into the appropriate fields:<br>
              <ul class="default">
                <li>Enter the Token Address provided to you at the time of participating in the ICO  in the 'Address' field</li>
                <li>Enter KWH for in the 'Token Symbol' field</li>
                <li>Enter 18 for the 'Decimals' field</li>
              </ul>
            </li>
          </ul>

          <h4>IMPORTANT SAFETY INFORMATION</h4>

          <h5>How can I stay safe and avoid getting scammed during the ICO?</h5>
          <p>Here are some helpful tips for not getting scammed:</p>
          <ul class="default">
            <li>Never send ETH to any address other than what we publish on the KWHCoin.com.</li>
            <li>We will never publish an Ethereum smart contract address on Social Media outlets such as Telegram, Twitter, Reddit etc., or send you an email with an alternative Ethereum address.</li>
            <li>You can always call us at 888-KWH-COIN (888-594-2646) and talk with a member of our team.</li>
            <li>IMPORTANT WARNING: Do not send ETH directly from an exchange. You must send ETH from an ethereum address where you control the private key. For this, we recommend you use a service like myetherwallet.com.</li>
          </ul>

          <h4>PRE-SALE INFORMATION</h4>

          <h5>When was the presale held and what was the price?</h5>
          <p>The pre-sale was held on December 21, 2017 and the price was $0.065 USD.</p>


          <h5>How much money was raised in the pre-sale?</h5>
          <p>We raised $1.1 million USD.</p>

          <h5>How many people participated in the pre-sale?</h5>
          <p>85 people participated in the pre-sale.</p>


          <h4>MORE DETAILS ABOUT KWHCOIN</h4>

          <h5>What does KWh stand for?</h5>
          <p>Kilowatt Hour, a unit of energy equal to 3.6 megajoules.</p>

          <h5>Do you have a roadmap available to the public?</h5>
          <p>Yes. The roadmap is available for viewing and download (<a target="_blank" href="assets/images/KWH_Roadmap_Infographic_Widescreen.png">Roadmap</a>).</p>

          <h5>What are your current partnerships?</h5>
          <p>We are in partnership with organizations including:</p>
            <ul class="default">
              <li>Bancor</li>
              <li>Green Button Alliance</li>
              <li>PATH San Jose</li>
              <li>Renewables in Africa</li>
              <li>In collaboration with Alliance for Rural Electricity via Renewables in Africa</li>
            </ul>

            <h5>Do you have a white paper?</h5>
          <p>Our white paper is available for download in multiple languages at www.kwhcoin.com, click on the White Paper button..</p>

          <h5>What are your plans with Bitshares?</h5>
          <p>In terms of development, we are working to find the optimal protocol in which to implement the decentralized application. Given the transaction capacity, business components and decentralized database of the bitshares protocol we will focus our efforts in this area. Our team is working to provide the best experience to the prosumers and consumers apart of The grid and will plan for transaction scaling.</p>

          <h5>How would someone acquire KWH tokens and exchange them for electrical services?</h5>
          <p>People will have several options to access KWH tokens, including our app currently in development and cryptocurrency exchanges.</p>

          <h5>If a KWH coin is backed by 1 kWh of energy, how could the value of that coin get bigger than the value of 1 kwh?</h5>
          <p>A KWH coin is backed by the kilowatt hours flowing through The Grid. The value of KWH coin is based not only on the unit valuation, but on the network and all of our distributed energy resources and their ability to generate and distribute electricity. The value is also derived from the desire of prosumers and consumers to obtain KWH coins to gain access to our network and all of its future capabilities.</p>

          <h5>What differentiates you from your competitors?</h5>
          <p>We published a blog post recently on that very topic: 3 Reasons Why KWHCoin is the Superior Green Energy Token.</p>

          <h4>CONTACT DETAILS</h4>

          <p>Phone: 888-KWH-COIN (888-594-2646)<br>
            Telegram: <a href="https://t.me/joinchat/Hb6FqhIgWqn9lJ5rNSCGMg">https://t.me/joinchat/Hb6FqhIgWqn9lJ5rNSCGMg</a><br>
            Website: <a href="https://www.kwhcoin.com">https://www.kwhcoin.com</a><br>
            Twitter: <a href="https://twitter.com/kwhcoin">https://twitter.com/kwhcoin</a><br>
            Email: <a href="mailto:contact@kwhcoin.com">contact@kwhcoin.com</a></p>
				</div>
			</div>
		</div>
	</div>
</section>
