<a class="skip-link sr-only" href="#content">Skip to content</a>

<nav class="navbar navbar-expand-md site-header absolute-top" id="mainNav" [class.navbar-stuck]="navIsFixed===true">
  <div class="container d-block d-lg-flex text-center text-md-left">
    <div class="row align-items-center justify-content-between">
      <a class="navbar-brand header-footer-logo order-1" href="/#/">
    	  <img src="assets/images/kwh-coin-final-symbol-1-nfsc67km3jv7zaesp3nqrymiwl6p29ptko7zcp0ma8.png" /><span class="text-green lighter boldest">KWH</span><span class="text-orange boldest">Coin</span>
      </a>
      <div class="navbar-toggler">
        <button type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i> Menu
        </button>
      </div>
      <div class="col-sm-12 order-2" id="siteNavigation">
        <div class="collapse navbar-collapse text-nowrap mt-0 mt-lg-0 row" id="navbarResponsive">
          <ul class="navbar-nav ml-md-auto mr-md-auto text-left text-md-center">
            <li class="nav-item">
              <a class="nav-link main-menu text-md-white main-menu js-scroll-trigger"
                 href="/#/the-cryptocurrency-blockchain">How Does It Work?
              </a>
            </li>
            <li class="nav-item">
              <!--a class="nav-link main-menu text-md-white js-scroll-trigger" href="/#/ico-information">ICO Information</a-->
            </li>
            <li class="nav-item menu-dropdown dropdown">
              <a class="nav-link text-md-white main-menu js-scroll-trigger dropdown-toggle" data-toggle="dropdown" id="dropdownMenuAboutKWHCoin" href="javascript:;" aria-haspopup="true" aria-expanded="false">About KWH Coin
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuAboutKWHCoin">
                <a class="dropdown-item" href="/#/our-mission">Mission &amp; Vision</a>
                <a class="dropdown-item" href="/#/about-us">Company</a>
                <a class="dropdown-item" href="/#/the-kwh-team">The KWH Team</a>
                <a class="dropdown-item" href="https://news.kwhcoin.com/">News</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link main-menu text-md-white js-scroll-trigger" href="/#/contact-us">Contact</a>
            </li>
            <!--li class="nav-item">
              <a class="nav-link main-menu text-md-white js-scroll-trigger" href="/#/events">Events</a>
            </li-->
            <li class="nav-item">
              <a class="nav-link main-menu text-md-white" href="/#/signin">Sign In/Sign Up</a>
            </li>
            <li class="nav-item">
              <!--a class="nav-link main-menu text-md-white js-scroll-trigger" target="icosupportchat" href="https://t.me/joinchat/Hb6FqhIgWqn9lJ5rNSCGMg">ICO SUPPORT</a-->
            </li>
            <li class="mobile-only">
              <div class="social-links container">
                <div class="row">
                  <a class="nav-link js-scroll-trigger social-btn" href="https://www.facebook.com/KWHCoin"><i class="fa fa-facebook"></i></a>
                  <a class="nav-link js-scroll-trigger social-btn " href="https://twitter.com/kwhcoin"><i class="fa fa-twitter"></i></a>
                  <a class="nav-link js-scroll-trigger social-btn " href="https://www.linkedin.com/company/27156455/"><i class="fa fa-linkedin"></i></a>
                  <a class="nav-link js-scroll-trigger social-btn" href="https://www.reddit.com/r/kwhcoin"><i class="fa fa-reddit"></i></a>
                  <a class="nav-link js-scroll-trigger social-btn"
                     href="https://t.me/joinchat/Hb6FqhIgWqn9lJ5rNSCGMg">
                    <i class="fa fa-telegram"></i></a>
                  <a class="nav-link js-scroll-trigger social-btn"
                     href="https://www.youtube.com/channel/UCzkvoY35wZz_49025Ye3Ydg">
                    <i class="fa fa-youtube"></i></a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <ul class="order-3 order-md-1 order-lg-3 social-links desktop-only navbar-nav ml-md-auto mr-lg-auto text-left text-md-center">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger social-btn" href="https://www.facebook.com/KWHCoin"><i class="fa fa-facebook"></i></a>
          <a class="nav-link js-scroll-trigger social-btn " href="https://twitter.com/kwhcoin"><i class="fa fa-twitter"></i></a>
          <a class="nav-link js-scroll-trigger social-btn " href="https://www.linkedin.com/company/27156455/"><i class="fa fa-linkedin"></i></a>
          <a class="nav-link js-scroll-trigger social-btn" href="https://www.reddit.com/r/kwhcoin"><i class="fa fa-reddit"></i></a>
          <a class="nav-link js-scroll-trigger social-btn"
             href="https://t.me/joinchat/Hb6FqhIgWqn9lJ5rNSCGMg">
            <i class="fa fa-telegram"></i></a>
          <a class="nav-link js-scroll-trigger social-btn"
             href="https://www.youtube.com/channel/UCzkvoY35wZz_49025Ye3Ydg">
            <i class="fa fa-youtube"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-backdrop" [hidden]="!isOpenSignInUp"></div>
</nav>
