<a class="skip-link sr-only" href="#content">Skip to content</a>
<nav class="navbar navbar-expand-md site-header absolute-top pt-0 pb-0" id="mainNav">
  <div class="container d-block d-lg-flex text-center text-md-left">

    <div class="float-md-right order-lg-3 order-md-2 text-center mt-3 mt-md-5 mt-lg-0">
      <ul class="nav justify-content-center text-nowrap flex-nowrap">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger social-btn" href="https://www.facebook.com/KWHCoin"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger social-btn " href="https://twitter.com/kwhcoin"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger social-btn " href="https://www.linkedin.com/company/27156455/"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
          <a class="nav-link js-scroll-trigger social-btn" href="https://www.reddit.com/r/kwhcoin"><i class="fa fa-reddit"></i></a>
        </li>
        <li class="nav-item">
        </li>
      </ul>
    </div>

    <a class="navbar-brand mt-1 mt-md-3 mt-lg-0 order-1" href="/">
    	<img src="/assets/images/kwh-coin-header-footer-logo.png" />
    </a>
    <div class="order-lg-2 order-md-3" id="siteNavigation">
      <button class="navbar-toggler navbar-toggler-right pt-2 pb-2 mt-3 border-white ml-4 mb-4" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i> Menu
      </button>

      <div class="collapse navbar-collapse text-nowrap mt-0 mt-lg-0 row" id="navbarResponsive">
        <ul class="navbar-nav ml-md-auto mr-md-auto text-left text-md-center">
          <li class="nav-item menu-dropdown dropdown">
            <a class="nav-link text-md-white main-menu js-scroll-trigger dropdown-toggle" data-toggle="dropdown" id="dropdownMenuHowItWorks" href="javascript:;" aria-haspopup="true" aria-expanded="false">How Does It Work?
              <i class="fa fa-angle-down fa-lg text-white float-right mt-1 mr-3"></i>
              <i class="fa fa-angle-up fa-lg text-white float-right mt-1 mr-3"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuHowItWorks">
              <a class="dropdown-item" routerLink="/the-cryptocurrency-blockchain">The Blockchain</a>
              <a class="dropdown-item" routerLink="/breaking-kwh-down">Breaking KWH Down</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link main-menu text-md-white js-scroll-trigger" routerLink="/ico-information">ICO Information</a>
          </li>
          <li class="nav-item menu-dropdown dropdown">
            <a class="nav-link text-md-white main-menu js-scroll-trigger dropdown-toggle" data-toggle="dropdown" id="dropdownMenuAboutKWHCoin" href="javascript:;" aria-haspopup="true" aria-expanded="false">About KWH Coin
              <i class="fa fa-angle-down fa-lg text-white float-right mt-1 mr-3"></i>
              <i class="fa fa-angle-up fa-lg text-white float-right mt-1 mr-3"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuAboutKWHCoin">
              <a class="dropdown-item" routerLink="/our-mission">Mission &amp; Vision</a>
              <a class="dropdown-item" routerLink="/about-us">Company</a>
              <a class="dropdown-item" routerLink="/the-kwh-team">The KWH Team</a>
              <a class="dropdown-item" href="//news.kwhcoin.com/news-prease/">News</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link main-menu text-md-white js-scroll-trigger" routerLink="/contact-us">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link main-menu text-md-white js-scroll-trigger" routerLink="/faq">FAQ</a>
          </li>
        </ul>
      </div>

    </div>


  </div>
</nav>