
.site-header {
    background-color: #8dc124;
    position: relative;
}

.main-menu{
	font-family: Source Sans Pro, sans-serif;
	transition: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
    color: #000;
}

.menu-dropdown.dropdown .dropdown-toggle:before,
.menu-dropdown.dropdown .dropdown-toggle:after {
	display: none;
}
	
.menu-dropdown.dropdown .dropdown-item{
    padding-top: 0.70rem;
    padding-bottom: 0.70rem;
    font-size: 1.05em;
    color: #000;
}

.menu-dropdown.dropdown .dropdown-item:hover{
	color: #96ca2d;
	background-color: transparent;
}


@media (max-width: 767.99px){

	.navbar-stuck{
		#siteNavigation{
		    background-color: rgb(141,193,36);
		    position: fixed;
		    text-align: center;
		    left: 0;
		    right: 0;
		    top: 0;
		    z-index: 1030;
		    transition: .3s all ease;
		}
	}

	.menu-dropdown.dropdown .dropdown-menu{
		position: relative;
		border-width: 0;
		padding: 0;
		border-radius: 0;
	}
	.menu-dropdown .dropdown-toggle{
		.fa-angle-down{
			display: block;
		}
		.fa-angle-up{
			display: none;
		}
	}
	.show.menu-dropdown .dropdown-toggle{
		.fa-angle-up{
			display: block;
		}
		.fa-angle-down{
			display: none;
		}
	}
	.menu-dropdown.dropdown .dropdown-item+.dropdown-item{
		border-top: 1px solid #ddd;
	}
	.main-menu{
		background-color: rgb(141,193,36);
		padding: 0.6rem 2rem;
		color: #000;
		border-top: 1px solid #ddd;
	}
	.navbar-collapse .navbar-nav{
		border-bottom: 1px solid #ddd;
		width: 100%;
	}
	.menu-dropdown.dropdown .dropdown-item{
		padding: 0.5rem 3rem;
		font-size: 1.2rem;
	}
	.navbar-toggler{
		border-width: 0px;
		color: #96ca2d;
		transition: .3s all ease;
	}
	.navbar-toggler:hover{
		color: #fff;
	}
}

@media (min-width: 768px){
	.site-header {
	    background-color: transparent;
		position: absolute;
	    top: 0;
	    right: 0;
	    left: 0;
	    z-index: 1030;
	}

	.navbar-stuck{
		#navbarResponsive{
		    background-color: rgb(141,193,36);
		    position: fixed;
		    text-align: center;
		    left: 0;
		    right: 0;
		    top: 0;
		    z-index: 1030;
		    transition: .3s all ease;
		}
	}

	.main-menu{
		color: #fff;

		.fa-angle-down, .fa-angle-up{
			display: none;
		}
	}
	.menu-dropdown.dropdown.show .dropdown-menu {
		opacity: 1;
		top: 82% !important;
		visibility: visible;
		-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0%);	    
	}

	.navbar-stuck .main-menu{
	    padding-top: 1.5rem;
	    padding-bottom: 1.5rem;
	}
}

@media (max-width: 991.99px) and (min-width: 768px){
	.main-menu {
	    padding-top: 0.5rem;
	    padding-bottom: 0.5rem;
	}
}

@media (min-width: 992px){
	
	.main-menu{
	    padding-top: 3rem;
	    padding-bottom: 3rem;
	    padding-left: 0.8rem!important;
	    padding-right: 0.8rem!important;
        font-size: 18px;
	}

	.navbar-stuck .main-menu{
	    padding-top: 1.5rem;
	    padding-bottom: 1.5rem;
	    padding-left: 1.3rem !important;
	    padding-right: 1.3rem !important;
	    font-size: 18px;
	}

	.menu-dropdown.dropdown .dropdown-toggle:before,
	.menu-dropdown.dropdown .dropdown-toggle:after {
		display: none;
	}

	.menu-dropdown.dropdown .dropdown-menu {
	    position: absolute;
	    top: 120% !important;
	    visibility: hidden;
	    display: block;
	    margin: 0;
	    border-radius: 7px;
	    -webkit-border-radius: 7px;
	    -moz-border-radius: 7px;
	    -webkit-transition: 200ms linear;
	    -o-transition: 200ms linear;
	    transition: 200ms linear;
	    -webkit-transition-property: top, opacity, visibility;
	    -o-transition-property: top, opacity, visibility;
	    transition-property: top, opacity, visibility;
	    opacity: 0;
	    left: -20px!important;
	}

	.menu-dropdown.dropdown .dropdown-menu:before{
	    content: '';
	    width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 0 7px 7px 7px;
	    border-color: transparent transparent #fff transparent;
	    position: absolute;
	    top: -7px;
	    left: calc(50% - 7px);	
	}

	.menu-dropdown.dropdown:hover .dropdown-menu,
	.menu-dropdown.dropdown.show .dropdown-menu {
		opacity: 1;
		top: 82% !important;
		visibility: visible;
		-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0%);	    
	}
}

