<footer class="site-footer footer-area minimal" role="contentinfo">
	<div class="footer-area-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
          <div class="container">
					  <a class="header-footer-logo row align-items-center" routerLink="/">
              <img src="/assets/images/kwh-coin-final-symbol-1-nfsc67km3jv7zaesp3nqrymiwl6p29ptko7zcp0ma8.png"/>
              <span class="text-green lighter boldest">KWH</span><span class="text-orange boldest">Coin</span>
					  </a>
          </div>
					<div class="f-xs lh1-6 mt-3">
						KWHCoin is the digital currency for a network of distributed energy resources launching an advanced renewable energy economy with blockchain technology.
					</div>
				</div>
				<div class="col-xs-6 col-md-4 contact-us-col">
					<h5>Contact Us</h5>
					<ul class="contact-us lh1-3">
						<li>
							<i class="fa fa-envelope fa-fw mr-2"></i>
							<a class="f-xs" href="maito:girardnewkirk@icloud.com">contact@KWHCoin.com</a>
						</li>
						<li class="mt-3">
							<i class="fa fa-phone fa-fw mr-2"></i>
							<span class="f-xs"><a href="tel:888-594-2646">888-KWH-COIN</a> (594-2646)</span>
						</li>
						<li class="mt-3">
							<i class="fa fa-home fa-fw mr-2"></i>
							<span class="f-xs">3031 Tisch Way,<br>110 Plaza West<br>San Jose CA, 95128</span>
						</li>
					</ul>

				</div>
				<div class="col-xs-6 col-md-4 links-col">
					<h5>Links</h5>
					<ul class="list-unstyled footer-menu f14 bold text-uppercase">
						<li>
							<a routerLink="/">Home</a>
						</li>
						<li>
							<a routerLink="/about-us/">About us</a>
						</li>
						<li>
							<a routerLink="/breaking-kwh-down/">Breaking KWH Down</a>
						</li>
						<li>
							<a routerLink="/pre-sale/">Pre-Sale</a>
						</li>
						<li>
							<a routerLink="/contact-us/">Contact</a>
						</li>
						<li>
							<a routerLink="/faq/">FAQ</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom container">
		<div class="site-info">
			<div class="social-list">
				<div class="row">
					<div class="col-12">
						<ul class="list-unstyled d-inline-block f18 ml-2 mt-3 mb-3 float-md-right lh1-3">
							<li class="d-inline-block mr-3">
								<a href="https://www.facebook.com/KWHCoin">
									<i class="fa fa-facebook"></i>
									<span class="sr-only">Facebook</span>
								</a>
							</li>
							<li class=" d-inline-block ml-4 mr-2">
								<a href="https://twitter.com/kwhcoin">
									<i class="fa fa-twitter"></i>
									<span class="sr-only">Twitter</span>
								</a>
							</li>
							<li class=" d-inline-block ml-4">
								<a href="https://www.linkedin.com/company/27156455/">
									<i class="fa fa-linkedin"></i>
									<span class="sr-only">LinkedIn</span>
								</a>
							</li>
						</ul>
						<div class="footer-copyright mb-2 mt-3 f-xs">
              Copyright &copy; 2018 All rights reserved by KWHCoin
            </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
