<section class="content-section">
	<div class="section201 green-section content-animation">
		<div class="container">
			<div class="row">
				<div class="col-md-6 pt-2">
					<div class="row">
						<div class="col-12">
			        <h2 class="bolder">KWHCoin ICO Information</h2>
							<h5>KWHCoin ICO Has Started</h5>
					        <a class="btn btn-lg px-5 py-3 mb-5" routerLink="/know-your-customer">PARTICIPATE NOW</a>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<p>The stated price for each KWHCoin, during ICO, will be determined by market demand.</p>
							<p>
                <i class="fa fa-file"></i>
                <a href="assets/Press-Release-01-19-2018-Pre-Sale-and-ICO.pdf"
                   target="_blank"
                   class="bolder">
                  ICO Announcement Press Release
                </a>
              </p>
              <p>
                <i class="fa fa-file"></i>
                <a href="assets/KWHCoin Audit Report.pdf"
                   target="_blank"
                   class="bolder">
                  ICO Audit Report
                </a>
              </p>
              <p class="audit-report">KWHCoin’s smart contract was analyzed by an independent soliditiy developer under different aspects and with various tools both open source and propietary. Overall, KWHCoin was found to "employ very good coding practices" with "clean, documented code." The auditor concluded, "We have no remaining security concerns about the KWHCoin smart contracts, as all detected issues were either fixed or addressed."</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<h5>KWHCoin Supply</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<p>The initial coin offering is set to create a total supply of 195,000,000 KWH tokens to launch our advanced energy economy and network of distributed energy resources. The currently agreed total supply of KWH tokens including the rate of issuance has been determined based on the products, services and the scale of the virtual and physical renewable energy assets to be created.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6" id="mc_embed_signup">
					<!-- Begin MailChimp Signup Form -->
					<form action="https://kwhcoin.us17.list-manage.com/subscribe/post?u=723fbb597cff5a1dd540288b8&id=cff82b019c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
					  <div id="mc_embed_signup_scroll">
							<h2>Join the KWHCoin mailing list:</h2>
							<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
							<div class="mc-field-group">
								<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
								<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" aria-required="true" aria-invalid="true">
							</div>
							<div class="mc-field-group">
								<label for="mce-FNAME">First Name </label>
								<input type="text" value="" name="FNAME" class="valid" id="mce-FNAME" aria-invalid="false">
							</div>
							<div class="mc-field-group">
								<label for="mce-LNAME">Last Name </label>
								<input type="text" value="" name="LNAME" class="valid" id="mce-LNAME" aria-invalid="false">
							</div>
							<div class="mc-field-group">
								<label for="mce-MMERGE3">Questions / Comments </label>
								<input type="text" value="" name="MMERGE3" class="valid" id="mce-MMERGE3" aria-invalid="false">
							</div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display: none;"></div>
							</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						  <div style="position: absolute; left: -5000px;" aria-hidden="true">
						    <input type="text" name="b_723fbb597cff5a1dd540288b8_cff82b019c" tabindex="-1" value="">
						  </div>
						  <div class="clear">
						    <input type="submit" value="JOIN NOW" name="subscribe" id="mc-embedded-subscribe" class="button">
						  </div>
					  </div>
					</form>
					<div id="mc-script"></div>
					<!--End mc_embed_signup-->
				</div>
			</div>
		</div>
	</div>
</section>

<section class="content-section">
	<div class="section202 content-animation">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3>KWHCoin Backing</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<ol class="counter">
						<li>
							The KWHCoin native tokens (KWH) are backed by distributed energy source generation so the total amount of tokens in circulation will directly reﬂect the generation of deliverable kilowatt hour work or activities related that were executed through the virtual and physical assets of our renewable energy network.
						</li>
						<li>195,000,000 KWH tokens will be created to start this advanced decentralized renewable energy economy.</li>
						<li>
							KWH is the native token for a decentralized application (On the Grid) that will provide a marketplace plug and play platform for distributed energy resources to collaborate and most efﬁciently meet the energy needs of market participants.
						</li>
					</ol>
				</div>
				<div class="col-md-6">
					<img src="assets/images/john-mcafee-tweet.png" class="w-100" />
				</div>
			</div>
		</div>
	</div>
</section>

<section class="content-section">
	<div class="section203 content-animation striped-bg-gradient">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3>Percentage Distribution</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<ol class="counter">
						<li>
							10% of all initial coin offering and ALL proﬁts generated related to Kwhcoin will be donated to microgrid development and off grid technology investments in Africa, Southeast Asia, South America, The Caribbean and the 1.2 billion globally without access to a reliable energy source
						</li>
						<li>
							5% of Kwhcoins will be allocated for a presale to raise capital for pending business opportunities behind the meter with commercial, industrial and residential community energy efﬁciency projects
						</li>
						<li>
							53% of the token offering will be used to raise funds for 4 product offerings related to launching Kwhcoin as a decentralized renewable energy economy.
						</li>
						<li>
							5% will be allocated to pay for business and administrative costs using the Kwhcoin as form of payment for services rendered.
						</li>
						<li>
							27% of token generation is allocated for Founders, principals, core developers, and humanitarian partners for compensation and to launch the infrastructure for the social impact ecosystem.
						</li>
					</ol>
				</div>
				<div class="col-md-6">
					<img src="assets/images/25285078_ml-e1507761374258.jpg" class="w-100 desktop-only" />
					<p class="text-center">
            <a href="https://t.me/joinchat/Hb6FqhIgWqn9lJ5rNSCGMg" target="_blank" class="slack-link">
						  Join our <i class="fa fa-telegram"></i> Telegram channel for all the latest updates!
					  </a>
          </p>
				</div>
			</div>
		</div>
	</div>
</section>
