<section class="content-section">
	<div class="section701 green-section content-animation">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h5>Our customer support representatives are ready to help you 24/7, 365 days a year!</h5>
					<p><strong>Main Office:</strong><br>3031 Tisch Way<br> San Jose, California 95128</p>
					<p><strong>Branch Office:</strong><br>115 N. 3rd Street, Suite 201<br> Wilmington, NC, 28401</p>
					<p><strong>Phone:</strong><br> 910-769-4831</p>
					<p><strong>Email:</strong><br>
            <i class="fa fa-envelope"></i>
            <a href="mailto:contact@kwhcoin.com">contact@KWHCoin.com</a></p>
					<p><strong>Telegram:</strong><br>
            <i class="fa fa-telegram"></i> <a href="https://t.me/joinchat/Hb6FqhIgWqn9lJ5rNSCGMg"
                target="_blank" class="slack-link">
						  Join our channel</a></p>
				</div>
				<div class="col-md-6">
					<div class="alert alert-success mb-5 text-center" *ngIf="status==200">
						Thank you for your message. It has been sent.
					</div>
					<div class="alert alert-danger text-danger mb-5 text-center" *ngIf="status==500">
						Your message was not sent. Please try again later
					</div>
					<form [formGroup]="contactusForm" name="contactusForm" novalidate action="//api.kwhcoin.com/service/contact-us.php" method="post" autocomplete="off" (ngSubmit)="onSubmit()" >
						<div class="form-group input-group">
							<input type="text" class="form-control" maxlength="100" required name="name" formControlName="name" placeholder="Your Name" />
						</div>
						<div *ngIf="(submitted || contactusForm.controls.name.dirty || contactusForm.controls.name.touched) && contactusForm.controls.name.invalid" class="text-danger f-md">
						  <div *ngIf="contactusForm.controls.name.errors.required">
						    Name is required.
						  </div>
						</div>
						<div class="form-group input-group">
							<input type="email" class="form-control" maxlength="200" required name="email" formControlName="email" placeholder="Your Email" />
						</div>
						<div *ngIf="(submitted || contactusForm.controls.email.dirty || contactusForm.controls.email.touched) && contactusForm.controls.email.invalid" class="text-danger f-md">
						  <div *ngIf="contactusForm.controls.email.errors.required">
						    Email is required.
						  </div>
						  <div *ngIf="contactusForm.controls.email.errors.email">
						    Invalid email address.
						  </div>

						</div>
						<div>
							<div class="form-group input-group">
								<textarea class="form-control w-100" required  maxlength="4000" style="min-height:120px" name="message" formControlName="message" placeholder="Your Message" ></textarea>
							</div>
							<div *ngIf="(submitted || contactusForm.controls.message.dirty || contactusForm.controls.message.touched) && contactusForm.controls.message.invalid" class="text-danger f-md">
							  <div *ngIf="contactusForm.controls.message.errors.required">
							    Message is required.
							  </div>
							</div>
							<div class="f-sm text-right">Characters left {{4000-contactusForm.value.message.length}}</div>
						</div>
						<div>
							<button class="btn btn-lightgreen" type="submit">SEND</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="content-section section702">
	<div class="section702 striped-bg-gradient content-animation">
		<iframe class="w-100 iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3173.045593365147!2d-121.94994408387828!3d37.31774767984515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fcadf570ea859%3A0x4496c4ecf0b99d1a!2s3031+Tisch+Way%2C+San+Jose%2C+CA+95128!5e0!3m2!1sen!2sus!4v1523288258374"></iframe>
	</div>
</section>
