<section class="content-section">
	<div class="section501 content-animation background-image-fill">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-8">
          <div class="white-card">
			      <h2 class="bolder">The Evolution Has Begun</h2>
					  <p>KWHCoin is a blockchain based community, ecosystem and cryptocurrency backed by units of clean, renewable energy. Physical deliverable units of KWh energy are leveraged from multiple sources including smart meters, sensor readings and green button data. This measurable export output is tokenized on the blockchain to create digital KWh Coin tokens for participants.</p>
          </div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="content-section">
	<div class="section502 content-animation">
		<div class="container max-stretch">
			<div class="row">
				<div class="col-md-6">
					<h4 class="bolder">Our Vision</h4>
					<p>
						We believe that everyone in the world should have renewable energy access as essential to sustainable development.  We have a vision of an energy future where all people have access and energy generation is 100% renewable and all members contribute and receive value for their participation.
					</p>
					<p>To get there we have five key pillars:</p>
					<ul class="default">
						<li>Decentralize Energy</li>
						<li>Democratize Grid Value</li>
						<li>Digitize Data</li>
						<li>Distribute Localized Green Energy</li>
						<li>Develop Virtual Alternative Grid</li>
					</ul>
				</div>
				<div class="col-md-6">
          <h4 class="bolder">Our Value</h4>
					<p>KWHCoin adds value by lowering the cost of renewable energy integration into the grid by providing a platform for prosumers and consumers to connect and configure their energy resources. As we transition to an energy distribution system that is based on a two way generation of power from distributed energy resources from multiple sources the aggregation and value of these resources present a challenge for the energy industry and utilities as grid modernization becomes a top priority. KWHCoin leverages blockchain technology and smart contract initiation to aggregate the data of distributed energy resources to convert them to native digital tokens that can be configured on our software platform and mobile applications. KWHCoin is a digital currency that converts renewable distributed energy resources to digital tokens on a unique and secure blockchain.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="content-section">
	<div class="section503 content-animation striped-bg-gradient">
		<div class="container max-stretch">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<h5>Value at the Edges of the Grid</h5>
					<p>KWHCoin promotes value at the edges of the grid with prosumers and small distributed resources providing upstream value with energy generation.</p>
        </div>
        <div class="col-md-6">
					<h5>Localized Energy Generation</h5>
					<p>Peer to peer network of distributed energy resources allows consumers access to local energy producers increasing grid efficiency</p>
				</div>
			</div>
		</div>
	</div>
</section>
