<section class="content-section">
	<div class="section1 striped-bg-gradient content-animation">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
			    <h2 class="bolder">FAQ</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<h5>Question: Say What?</h5>
					<p>
						<strong>Answer:</strong> KWHCoin is a blockchain-based solution for a cost effective and network incentive based structure to help shift from fossil fuels to efﬁciency and renewables. All transactions on the network are executed in KWHCoin’s making it a viable digital currency for the emerging internet of energy.
					</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<h5>Question: How do I view my tokens that I bought in the presale?</h5>
					<p><strong>Answer:</strong> Once you enter into myetherwallet select add custom token then enter this information into the required fields
					Custom coin address: 0xebc7cd2684dd96619841c7994343c5a8bda94b10
					Name of coin: kWh
					Decimals:18</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<h5>Question: I cannot see my tokens on etherscan or ethplorer.</h5>
					<p><strong>Answer:</strong> These networks are experiencing network congestion, therefore causing a delay in displaying the most up to date transactions.
					</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<h5>Question: Will a member of the United States be able participate in the ico?</h5>
					<p><strong>Answer:</strong> Yes they can.
					</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<h5>Question: How do we register for the ICO?</h5>
					<p><strong>Answer:</strong> A link will be on the website day of ICO!</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<h5>
					Question: Are there any airdrops?</h5>
					<p><strong>Answer:</strong> No airdrops.</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<h5>
					Question: When will bounty tokens be distributed?</h5>
					<p><strong>Answer:</strong> At the end of the bounty</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<h5>
						Question:  How long will bounty last?
					</h5>
					<p>
						<strong>Answer:</strong> Until March 8th
					</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<h5>
						Question: When is next time I can buy KWH coins?
					</h5>
					<p>
						<strong>Answer:</strong> On February 8th at 12 PM PST.
					</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<h5>
						Question: When was the presale?
					</h5>
					<p>
						<strong>Answer:</strong> The presale was held on December 21st, 2017.
					</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<h5>
						Question: What is the difference in price between pre-sale and ICO sale?
					</h5>
					<p>
						<strong>Answer:</strong> The presale price was 0.065USD and the ICO price will range from $.27-$.30USD
					</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<h5>
						Question: Is there a minimum amount of money required to participate in the ICO?
					</h5>
					<p>
						<strong>Answer:</strong> No minimum
					</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<h5>
						Question: What is the total supply of coins?
					</h5>
					<p>
						<strong>Answer:</strong> 195,000,000
					</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<h5>
						Question: How much will the token be during ICO?
					</h5>
					<p>
						<strong>Answer:</strong> The price range for the ICO will be $.27-.$30.
					</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<h5>
						Question: Is there a whitelist?
					</h5>
					<p>
						<strong>Answer:</strong> No whitelist.
					</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<h5>
						Question: Who can participate in the ICO?
					</h5>
					<p>
						<strong>Answer:</strong> The ICO will not be open to residents of Cuba, Iran, North Korea, Syria, the Crimea region of Ukraine, or citizens/individuals located in a geographic area that is subject to UN-, US-, EU-, CH- sanctions or embargoes.
					</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<h5>
						Question: How we will receive the coin?
					</h5>
					<p>
						<strong>Answer:</strong> The coins will be transferred to your wallet after the ICO and after the security audit is complete. We anticipate that taking about 2-4 weeks, but will try to make sure it's done sooner.
					</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<h5>
						Question: Is there a kyc or pre registeration?
					</h5>
					<p>
						<strong>Answer:</strong> No, you can sign up to our mailing list to receive updates about our project.
					</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<h5>
						Question: How much money was raised in the presale?
					</h5>
					<p>
						<strong>Answer:</strong> We raised $1.1 million.
					</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<h5>
						Question: When will KWH Will be available in exchange?
					</h5>
					<p>
						<strong>Answer:</strong> Will be published once this is available.
					</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<h5>
						Question: Is there any discount on public sale?
					</h5>
					<p>
						<strong>Answer:</strong>  There are no discounts on the ICO price.
					</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<h5>
						Question: Can KWH only be bought with ETH at the ICO ?
					</h5>
					<p>
						<strong>Answer:</strong>  KWHCoin can only be bought with ETH.
					</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<h5>
						Question: How would someone acquire the tokens and exchange them for electrical services?
					</h5>
					<p>
						<strong>Answer:</strong> They can access them a few ways--via our applications that we are building, via exchanges that we will partner.
					</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<h5>
						Question: What do you consider the key difference between KWHCoin and the others?
					</h5>
					<p>
						<strong>Answer:</strong> Key differenitator is our mission.  I personally have watched crypto lose some of the initial zest to have social impact and I feel this should be our number 1 priority.  Were different because the social impact is our number 1 priority.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
