.section301{
    background-image: url(/assets/images/breaking-kwh-down-background-images.png);
    background-position: center center;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 50px 0px;	
}

.section302{
    background-color: #494949;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 50px 0px;	
}