.section1{
	background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 115px 0px 90px 0px;

    font-size: 16px;
}


input[readonly]{
	background-color: #fff;
}