<section class="content-section">
	<div class="section101 striped-bg-gradient content-animation">
		<div class="container px-5">
			<div class="mx-5">
				<div class="row">
					<div class="col-12">
						<h2>KWHCoin Blockchain</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<h4>4 Major Parts of the Blockchain</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 pt-2">
						<p class="mb-5"><span class="text-lightgreen">Cryptography</span> Provides the security for the network and allows for veriﬁability and ownership of transactions. <span class="text-lightgreen">Consensus Protocol</span> Creates a shared and trusted platform for community members to openly collaborate and exchange. <span class="text-lightgreen">Smart Contracts</span> Permits trusted peer to peer transactions between community members and allows interactions to be enriched. <span class="text-lightgreen">Decentralized Network</span> All community members have access to the same communication channels.</p>
					</div>
					<div class="col-md-6">
						<div class="rounded-image-wrapper mb-5"><img src="/assets/images/blockchain-transaction.jpg" class="w-100" /></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="content-section">
	<div class="section102 content-animation">
		<div class="container">
			<div class="row">
				<div class="col-12 mb-3">
					<h2>Blockchain Billing Model</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<ol class="counter mb-3 ">
						<li>Smart meters are associated with the the transparency of blockchain are open and secure.</li>
						<li>Reduce risk of fraud/theft.</li>
						<li>Help manage and develop debt recovery and create more solutions for service disruption.</li>
						<li>Increase transparency to price changes and fees while improving cost savings and efﬁciency.</li>
					</ol>
				</div>
				<div class="col-md-6">
					<img src="/assets/images/blockchain-based-billing-model.jpg" class="w-100" />
				</div>
			</div>
		</div>
	</div>
</section>

<section class="content-section">
	<div class="section103 striped-bg-gradient content-animation">
		<div class="container">
			<div class="row">
				<div class="col-12 mb-3">
					<h2>Localized Generation of Electricity</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-7 col-lg-6 mb-3">
					<ol class="counter mb-5 ">
						<li>KWHCoin gives community members the ability to purchase renewable energy from a local generation source</li>
						<li>Local energy generation reduces the losses and extends the lifespan of existing transmission infrastructure</li>
						<li>Local generation also minimizes transmission costs for the customer and with KWHCoin this keeps value and investment in local economies</li>
					</ol>
					<!--a href="https://join.slack.com/t/kwhcoin/shared_invite/enQtMjM0NTM4Njc3MDEwLWFlY2I2YzUzMzYyOTRkNDc2ODcxM2FjZDdhMDYxZTk5NDdhOGU4YmJmNzk5ODY0MzBjNmNhNzdkODIyZDc4OGY" class="btn btn-lightgreen px-5 py-3 text-uppercase" target="_blank">
						<span class=" f-sm boldest">To Learn More and Stay INformed, Join Our SLack Channel</span>
					</a-->
				</div>
				<div class="col-md-5 col-lg-6 mb-3">
					<img src="/assets/images/localized-generation-of-electricity.jpg" class="w-100" />
				</div>
			</div>
		</div>
	</div>
</section>
