<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand header-footer-logo" href="/#/">
    <img src="assets/images/kwh-coin-final-symbol-1-nfsc67km3jv7zaesp3nqrymiwl6p29ptko7zcp0ma8.png"><span class="text-green lighter boldest">KWH</span><span class="text-orange boldest">Coin</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/#/">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>