  <ng-template #withdrawDeposit let-c="close" let-d="dismiss">
      <!--h4 class="modal-title">Withdraw/Depotite</h4-->
    <div class="modal-body px-0 py-0" style="min-height:390px">
      <button type="button" class="close mt-2 mr-2" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <ngb-tabset type="pills" class="tab-withdraw-deposit">
        <ngb-tab>
          <ng-template ngbTabTitle style="border-radius:0">Withdraw</ng-template>
          <ng-template ngbTabContent>
            <app-withdraw (done)="d()"></app-withdraw>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle class="border-0">Deposit</ng-template>
          <ng-template ngbTabContent>
            <app-deposit (done)="d()"></app-deposit>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </ng-template>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand header-footer-logo pt-0" href="/#/dashboard/summary">
    <img src="assets/images/kwh-coin-final-symbol-1-nfsc67km3jv7zaesp3nqrymiwl6p29ptko7zcp0ma8.png"><span class="text-green lighter boldest">KWH</span><span class="text-orange boldest">Coin</span>
  </a>
  <div class="ml-auto mr-auto text-white order-3 order-sm-2 navbar-nav">
    <div>
      <div class="f14">BALANCE</div>
      <div class="d-inline-block mr-2"><strong>{{wallet.erc20Balance|number:'1.2-8'}} KWHCoin</strong></div>|
      <div class="d-inline-block ml-2"><strong>{{wallet.ethBalance|number:'1.2-8'}} ETH</strong></div>
    </div>
    <div class="nav-item ml-3">
      <a class="nav-link pt-3 mt-1 pb-0" href="javascript:;" (click)="openDepositWithdraw(withdrawDeposit)">Deposit / Withdraw</a>
    </div>
  </div>
  <button class="navbar-toggler order-2 order-sm-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse order-2 order-sm-3" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" ngbDropdown>
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:;"><i class="fa fa-user"></i> {{user.firstName +' '+ user.lastName}}</a>
        <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu style="">
          <a href="javascript:;" class="dropdown-item disabled"><small>{{user.emailId}}</small></a>
          <a href="javascript:;" (click)="showProfile()" class="dropdown-item"><small>Profile</small></a>
          <a href="javascript:;" (click)="signout()" class="dropdown-item"><small>Sign Out</small></a>
        </div>
      </li>
    </ul>
  </div>
</nav>