<app-header [navIsFixed]="navIsFixed"></app-header>

<div id="content">
	
	<section class="content-section">
		<div class="section1 striped-bg-gradient content-animation">
			<div class="container">
				<div id="idm_container"></div>
			</div>
		</div>
	</section>

	
</div>
<app-footer></app-footer>

<div class="page-preloader-cover" [class.show]="loading===true">
	<span class="ouro ouro3">
		<span class="left"><span class="anim"></span></span>
		<span class="right"><span class="anim"></span></span>
	</span>
</div>
<div id="popup"></div>
<a href="javascript:;" id="toTop" (click)="scrollTop()" [ngStyle]="{'display': navIsFixed===true? 'block': 'none'}"><i class="fa fa-angle-up fa-2x mt-2"></i><span class="sr-only">Top</span></a>
