@import '~scss/variables';

.section501 {
  background-image: url("./~assets/images/gabriel-pangilinan-18321.jpg");
  color: $black;
  text-shadow: none;
}

.home-logo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
}

h4 {
  margin-top: 1rem;
}
