<section class="content-section bg-light content-animation">
	<div class="container">
		<div class="row">
			<div class="col-12 offset-lg-2 col-lg-8 offset-md-1 col-md-10 py-5">				
				<div class="card text-secondary mb-4">
					<div class="card-body">
						<h2 class="h5 pb-3 card-title">
							Password assistance
						</h2>
						<div class="text-center py-5" *ngIf="loading===true">
							<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
						</div>

						<form id="login" [formGroup]="inputForm"  *ngIf="status != 'SUCCESS' && !loading" class="ajax-auth card border-0 p-0" action="login" method="post" (click)="$event.stopPropagation()">

					    	<!--button class="close float-right btnClose fa-lg" (click)="dismiss()">&times;</button-->
					        <p class="status text-danger" *ngIf="error!==null"><i class="fa fa-warning"></i> {{error}}</p>
							<p class="f14">Enter the email address associated with your account.</p>
					        <div class="md-form form-group">
					            <label for="emailId">Email</label>
					            <input type="text" id="emailId" class="w-100 d-block form-control" name="emailId" formControlName="emailId">
					        </div>

					        <div class="text-center mt-3 mb-3 btn-group d-flex" role="group">
					            <button class="submit_button btn w-100" type="submit" (click)="sendResetPassword()">Send Reset Password Link</button>
					            <!--button class="submit_button btn btn-white w-100" type="button" (click)="dismiss()">Cancel</button-->
					        </div>
						</form>
						<div class="" *ngIf="status=='SUCCESS' && !loading">
							<div class="mb-1">An email has been sent to <b>{{inputForm.value.emailId}}</b> with reset password link, please follow the instruction in email.</div>
							<div>If you still havent received email click <a href="javascript:;" (click)="sendResetPassword()">here</a> to resend </div>
							<!--button class="submit_button btn btn-white w-100" type="button" (click)="dismiss()">Cancel</button-->
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>
