<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
	<div class="text-success my-4 mx-2 f16 semibold"><i class="fa fa-check-circle fa-3x float-left mr-3"></i> We have sent an email to <b>{{email}}</b>. Please follow the instruction in the email to complete registration</div>
	  <div class="text-right">
	    <button type="button" class="btn" (click)="c('Close click')">Close</button>
	  </div>
  </div>
</ng-template>

<section class="content-section py-0">
	<div class="section601 text-center py-5" *ngIf="loading===true">
		<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
	</div>
	<div class="section601 py-0" *ngIf="!loading">
		<form id="register" [formGroup]="inputForm" class="ajax-auth card bg-transparent border-0 rounded-0 p-0" action="verify" method="post" novalidate="novalidate">
		    <div class="card-body mx-2">		        
				<p class="status text-danger" *ngIf="error!==null"><i class="fa fa-warning"></i> {{error}}</p>
		      	
		        <div class="md-form form-group">
		            <input type="text" id="email" class="w-100 d-block form-control" formControlName="email" placeholder="Email address" name="email">
		        </div>

		        <div class="text-center mt-3 mb-3 btn-group d-flex" role="group">
		            <button class="submit_button btn w-100" type="submit" (click)="register(content)">Register</button>
		            <button class="submit_button btn btn-white w-100" type="button" (click)="dismiss()">Cancel</button>
		        </div>
		    </div>
		</form>
	</div>
</section>
