<section class="content-section green-section content-animation">
	<div class="container">
		<div class="row">
			<div class="col-12 py-5" [ngClass]="{'offset-lg-4 col-lg-4 offset-md-3 col-md-6': !submitted, 'offset-lg-2 col-lg-8 offset-md-1 col-md-10': submitted===true}">
				<div class="card text-secondary">
					<div class="card-body">
						<h2 class="h5 pb-3 card-title">
							Create Account
						</h2>

						<div class="text-center py-5" *ngIf="loading===true">
							<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
						</div>
						<div class="text-danger my-4 mx-2" *ngIf="error && !loading">
							<div class="">
								<i class="fa fa-lg fa-warning"></i> {{error}}
							</div>
						</div>
						<div *ngIf="submitted===true && !loading">
							<div class="my-4" *ngIf="!error">
								<div class="text-success my-4 fa-lg">
									<i class="fa fa-lg fa-check-circle"></i> Thank you! 
								</div>
								<div class="text-muted mb-1">Your registration request has been submitted successfully. Please check your email <b>{{inputForm.value.emailId}}</b> for further instruction.</div>
								<div>If you still havent received email click <a href="javascript:;" (click)="reSendRegistrationEmail()">here</a> to resend </div>
							</div>
							<div class="my-4" *ngIf="error">
								<div>Please click <a href="javascript:;" (click)="reSendRegistrationEmail()">here</a> to resend registration email</div>
							</div>
							<!--div class="text-right">
							    <button type="button" class="btn btn-white" (click)="c('Close click')">Close</button>
							</div-->
						</div>

						<div class="py-0" *ngIf="!loading && !submitted">
							<form id="register" [formGroup]="inputForm" class="ajax-auth card bg-transparent border-0 rounded-0 p-0" action="verify" method="post" novalidate="novalidate">

						        <div class="md-form form-group">
						            <input type="text" id="firstname" class="w-100 d-block form-control" formControlName="firstName" placeholder="First Name" name="firstName">
						        </div>

						        <div class="md-form form-group">
						            <input type="text" id="lastname" class="w-100 d-block form-control" formControlName="lastName" placeholder="Last Name" name="lastName">
						        </div>
						      	
						        <div class="md-form form-group">
						            <input type="text" id="emailId" class="w-100 d-block form-control" formControlName="emailId" placeholder="Email address" name="emailId">
						        </div>

						      	<div formGroupName="passwordGroup">
							        <div class="md-form form-group">
							            <input type="password" id="pswd" class="w-100 d-block form-control" formControlName="pswd" placeholder="Password" name="pswd" (keyup)="updatePasswordStrength()">
							            <ul id="strengthBar">
											<li *ngFor="let barColor of barColors;" class="point" [style.background-color]="barColor"></li>
										</ul>
							        </div>
							    
							        <div class="md-form form-group">
							            <input type="password" id="rePswd" class="w-100 d-block form-control" formControlName="rePswd" placeholder="Confirm password" name="rePswd">
							            <p *ngIf="inputForm.controls.passwordGroup.errors?.childrenNotEqual" class="small text-danger">Confirm password and Password must match</p>
							        </div>
							    </div>

						        <div class="text-center mt-3 mb-3 btn-group d-flex" role="group">
						            <button class="submit_button btn w-100" type="submit" (click)="register()">Register</button>
						        </div>
						        <hr />
						        <small>Already have an account? <a routerLink="/signin">Sign in</a></small>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
