<section class="content-section">
	<div class="section601 content-animation">
		<div class="container">
			<div class="text-center py-5" *ngIf="processing===true">
				<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
			</div>			
			<div class="row" *ngIf="error && !processing">
				<div class="col-12 alert alert-danger">
					<p class="mb-0"><i class="fa fa-lg fa-warning"></i> {{error}}</p>
				</div>
			</div>
			<div class="row" *ngIf="status=='SUCCESS'">
				<div class="col-12 alert alert-success">
					<p class="mb-0">Your account password has been changed successfully, you may now <a routerLink="/signin">login</a> </p>
				</div>
			</div>
			<div class="row" *ngIf="showForm===true && !processing">
				<div class="col-12 offset-md-2 col-md-8 border bg-light">
					<form id="register" [formGroup]="inputForm" class="ajax-auth card bg-transparent border-0 rounded-0 p-0" action="register" method="post" novalidate="novalidate">
					    <div class="card-body mx-2">
					        <div class="text-center">
					            <h5 class="dark-grey-text">Reset Password</h5>
					        </div>
					        
        					<p class="status text-danger" *ngIf="error!==null"><i class="fa fa-warning"></i> Failed to update profile. Please try again later or contact contact@KWHCoin.com</p>
					        <div class="md-form form-group">
					            <div class="w-100 d-block form-control bg-light">{{data.emailId}}</div>
					        </div>

					      	<div formGroupName="passwordGroup">
						        <div class="md-form form-group">
						            <input type="password" id="pswd" class="w-100 d-block form-control" required formControlName="pswd" placeholder="New Password" name="pswd" (keyup)="updatePasswordStrength()">
						            <ul id="strengthBar">
										<li *ngFor="let barColor of barColors;" class="point" [style.background-color]="barColor"></li>
									</ul>
						        </div>
						    
						        <div class="md-form form-group">
						            <input type="password" id="rePswd" class="w-100 d-block form-control" formControlName="rePswd" placeholder="Confirm password" name="rePswd">
						            <p *ngIf="inputForm.controls.passwordGroup.errors?.childrenNotEqual" class="small text-danger">Confirm password and Password must match</p>
						        </div>
						    </div>

					        <div class="text-center mt-3 mb-3">
					            <button class="submit_button btn" type="button" (click)="changePassword()">Change Password</button>
					            <!--button class="cancel_button btn btn-white" type="button" value="CANCEL">Cancel</button-->
					        </div>
					    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<hr />