<section class="content-section">
	<div class="section601 content-animation">
		<div class="container">
			<div class="text-center py-5" *ngIf="processing===true">
				<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
			</div>			
			<div class="row" *ngIf="!processing">
				<div class="col-12 offset-md-2 col-md-8 border bg-light">
					<form id="register" [formGroup]="inputForm" class="ajax-auth card bg-transparent border-0 rounded-0 p-0" action="register" method="post" novalidate="novalidate">
					    <div class="card-body mx-2">
					        <div class="text-center">
					            <h5 class="dark-grey-text">My Profile</h5>
					        </div>
					        
        					<p class="status text-danger" *ngIf="error!==null"><i class="fa fa-lg fa-warning"></i> Failed to update profile. Please try again later or contact contact@KWHCoin.com</p>

        					<p class="status text-success" *ngIf="success ===true && !processing"><i class="fa fa-lg fa-check-circle"></i> Details updated</p>

					        <div class="md-form form-group">
					            <div class="w-100 d-block form-control bg-light">{{data.emailId}}</div>
					        </div>
					        <div class="md-form form-group">
					            <div class="w-100 d-block form-control bg-light"><b>Password</b> ******** <a href="javascript:;" (click)="changePassword()">change password</a></div>
					        </div>
					        <div class="md-form form-group">
					            <!--label for="profileName">Your name</label-->
					            <input type="text" id="profileName" class="w-100 d-block form-control" formControlName="profileName" placeholder="Preferred name" name="profileName">
					        </div>

						    <hr />
						    <label class="mt-4 mb-3">Address</label>
					        <div class="md-form form-group">
					            <!--label for="address1">Street 1</label-->
					            <input type="text" id="address1" class="w-100 d-block form-control" formControlName="address1" placeholder="Street1" name="address1">
					        </div>
					      
					        <div class="md-form form-group">
					            <!--label for="address2">Street 2</label-->
					            <input type="text" id="address2" class="w-100 d-block form-control" formControlName="address2" placeholder="Street2" name="address2">
					        </div>
					      
					        <div class="md-form form-group">
					            <!--label for="city">City</label-->
					            <input type="text" id="city" class="w-100 d-block form-control" formControlName="city" placeholder="City" name="city">
					        </div>
					      
					        <div class="md-form form-group">
					            <!--label for="state">State</label-->
					            <input type="text" id="state" class="w-100 d-block form-control" formControlName="state" placeholder="State/Province" name="state">
					        </div>
					      
					        <!--div class="md-form form-group">
					            <input type="text" id="county" class="w-100 d-block form-control" formControlName="county" placeholder="County/District" name="county">
					        </div-->

					        <div class="md-form form-group">
					            <!--label for="zip">Zip</label-->
					            <input type="text" id="zipCode" class="w-100 d-block form-control" formControlName="zipCode" placeholder="Zip code" name="zipCode">
					        </div>
					    
					        <div class="md-form form-group">
					            <!--label for="zip">Zip</label-->
					            <input type="text" id="country" class="w-100 d-block form-control" formControlName="country" placeholder="Country" name="country">
					        </div>
					    
					        <div class="text-center mt-3 mb-3">
					            <button class="submit_button btn" type="button" (click)="verify()" value="UPDATE">Save</button>
					            <!--button class="cancel_button btn btn-white" type="button" value="CANCEL">Cancel</button-->
					        </div>
					    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
