/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/scss/bootstrap';

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #000;
}

body{
    font-family: "Source Sans Pro", Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;    
}

@media (min-width: 992px){
	body {
	    font-size: 20px;
	}
}
.f14{
	font-size: 14px;		
}
.f16{
	font-size: 16px;		
}
.f18{
	font-size: 18px;		
}
.f17{
	font-size: 17px;		
}
.f20{
	font-size: 20px;		
}
.f22{
	font-size: 22px;		
}
.f23{
	font-size: 23px;		
}
.f24{
	font-size: 24px;		
}
.f25{
	font-size: 25px;		
}
.f30{
    font-size: 30px;        
}
.f45{
	font-size: 45px;		
}
.f60{
	font-size: 60px;		
}
.f-md{
    font-size: 0.9rem;
}
.f-sm{
	font-size: 0.85rem;
}
.f-xs{
    font-size: 0.75rem;
}
.lh1-6{
    line-height: 1.6rem;
}
.lh1-3{
    line-height: 1.3rem;
}
.lh2-2{
    line-height: 2.2rem;
}
.lh2-5{
    line-height: 2.5rem;
}
.lh1{
    line-height: 1;
}
.lh2{
    line-height: 2;
}
.lh3{
    line-height: 3rem;
}
.semibold{
    font-weight: 500;
}
.bold{
	font-weight: 600;
}
.bolder{
	font-weight: 700;
}
.boldest{
	font-weight: 900;
}
.pt-10{
	padding-top: 10rem !important;	
}
.px-10{
    padding-left: 10rem !important;  
    padding-right: 10rem !important;  
}
a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
a:hover{
    text-decoration: none;
}

.text-lightgreen{
    color: #96ca2d;
}

.text-wrap{
    white-space: normal;
}

.btn-lightgreen:not([disabled]) {
    color: #ffffff;
    background-color: #96ca2d;
    border-color: #96ca2d;
    text-decoration: none;
}
.btn-lightgreen:not([disabled]):hover,
.btn-lightgreen:not([disabled]):focus,
.btn-lightgreen.active:not([disabled]){
    color: #ffffff;
    background-color: #73ae1f;
    border-color: #73ae1f;	
    text-decoration: none;
}

.text-yellow{
	color: #ffff77;	
}
.text-black{
    color: #000;
}
.display-5 {
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 1.2;
}

.rounded-image-wrapper{
    border-radius: 0.5rem;
    overflow: hidden;    
}

.bg-fixed{
    background-attachment: fixed;
}

.form-control,
.form-control:focus {
    display: block;
    width: 100%;
    padding: 16px 20px;
    border: none;
    background-color: #f6f6f6;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: none;
    outline: none;
    font-size: inherit;
}

input[type='text'], input[type='email'], input[type='url'], input[type='password'], input[type='search'], input[type='number'], input[type='tel'], input[type='range'], input[type='date'], input[type='month'], input[type='week'], input[type='time'], input[type='datetime'], input[type='datetime-local'], input[type='color'], select, textarea, #tm_builder_outer_content .tm_pb_contact_form .tm_pb_contact_field .tm_pb_contact_form_input {
    color: #73ae1f;
}

.social-btn{
    width: 41px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-left: 10px;
    color: #fff !important;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    height: 41px;
    font-size: 18px;
    line-height: 1.3em;

	i.fa{
		position: relative;
		z-index: 1;
	}
}

.social-btn:after{
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
	background-color: #96ca2d;	
}

.social-btn:hover:after{
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1); 
}

.invert blockquote{
    color: rgba(255,255,255,0.7);
}

blockquote>p:before{
    content: '\f10d';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
    font-size: 1.875rem;
    position: absolute;
    display: block;
    left: -40px;
    top: -10px;
    color: #333333;
}

.posrel{
    position: relative;
}

ol.counter{
    margin-left: 0;
    counter-reset: item;    
}

ol.counter,
ul.counter{
    list-style: none;
}

ol.counter>li,
ul.counter>li{
    position: relative;
    margin-bottom: 1.5rem;
}

ol.counter>li:before,
ul.counter>li:before{
    color: #96ca2d;
    position: absolute;
    top: 0;
    left: -30px;    
}

ol.counter>li:before{
    content: counter(item, decimal-leading-zero) ". ";
    counter-increment: item; 
}

ul.default,
ol.default{
    list-style: none;
    margin-left: 0;
    padding-left: 20px;
}

ul.default>li,
ol.default>li{
    position: relative;
}

ul.default > li:before, 
ol.default > li:before {
    color: #96ca2d;
}
ul.default li:before, 
ol.default li:before {
    position: absolute;
    top: 0;
    left: -20px;
}
ul.default li:before {
    content: '\2022';
    margin-right: 10px;
}

.section-background-overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #000000;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;    
}

.content-section{
    position: relative;

    >.content-animation{
        position: relative;
        -webkit-animation: expand 1s;
        -webkit-animation: expand 1s;
        -moz-animation:    expand 1s;
        -o-animation:      expand 1s;
        animation:         expand 1s;
    }
}

@-webkit-keyframes expand{
    0%{top: -100px; opacity: 0;}
    100%{top: 0;  opacity: 1;}
}
@-moz-keyframes expand{
    0%{top: -100px; opacity: 0;}
    100%{top: 0;  opacity: 1;}
}
@-o-keyframes expand{
    0%{top: -100px; opacity: 0;}
    100%{top: 0;  opacity: 1;}
}
@keyframes expand{
    0%{top: -100px; opacity: 0;}
    100%{top: 0;  opacity: 1;}
}

h3, .h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 1.25;
    letter-spacing: 0px;
    text-align: inherit;
    color: #96ca2d;
}

h2, .h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 1.1;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0px;
    text-align: inherit;
    color: #96ca2d;
}

h4, .h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.53;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0px;
    text-align: inherit;
    color: #96ca2d;
}
h5, .h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.54;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0px;
    text-align: inherit;
    color: #96ca2d;
}
h6,.h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 2.6;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0px;
    text-align: inherit;
    color: #96ca2d;
}

@media (min-width: 992px){
	h3, .h3 {
	    font-size: 60px;
	}
    h2, .h2 {
        font-size: 80px;
    }
    h4, .h4 {
        font-size: 40px;
    }
    h5, .h5 {
        font-size: 30px;
    }
    h6, .h6 {
        font-size: 25px;
    }
}

@media (min-width: 1200px){
    .site-footer .container {
        max-width: 1140px;
    }    
}
@media (max-width: 1199.99px){
    .container.max-stretch {
        max-width: 100%;
    }
    .site-footer .container {
        max-width: 960px;
    }
}

@media (max-width: 991.99px){
    .container.max-stretch {
        max-width: 100%;
    }
    .site-footer .container {
        max-width: 720px;
    }
}


@media (max-width: 767.99px){
    .site-footer .container {
        max-width: 540px;
    }
}

.page-preloader-cover {
  position: fixed;
  z-index: 1200;
  top: 0;
  left: 0;
  display: block;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: #ffffff; 
  transition: visibility 0.3s;

}

.ouro {
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  height: 46px;
  width: 46px;
  margin: -23px 0 0 -23px;
  border-radius: 50%;
  background: none repeat scroll 0 0 #DDDDDD;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 0 25px rgba(0, 0, 255, 0.075);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 0 25px rgba(0, 0, 255, 0.075); }
  .ouro .left {
    left: 0; }
  .ouro .right {
    left: 50%; }
  .ouro .anim {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 999px;
    background: none repeat scroll 0 0 #508EC3;
    opacity: 0.8;
    -webkit-animation: ui-spinner-rotate-left 3s infinite;
    animation: ui-spinner-rotate-left 3s infinite;
    -webkit-transform-origin: 0 50% 0;
    -ms-transform-origin: 0 50% 0;
    transform-origin: 0 50% 0; }
  .ouro .left .anim {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0; }
  .ouro .right .anim {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    left: -100%;
    -webkit-transform-origin: 100% 50% 0;
    -ms-transform-origin: 100% 50% 0;
    transform-origin: 100% 50% 0; }

.ouro:after {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  display: block;
  height: 28px;
  width: 28px;
  background: none repeat scroll 0 0 #F2F2F2;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

.ouro > span {
  position: absolute;
  height: 100%;
  width: 50%;
  overflow: hidden; }

/* v3 */
.ouro3 .anim {
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-timing-function: linear; }

.ouro3 .right .anim {
  -webkit-animation-name: ui-spinner-rotate-right;
  -webkit-animation-delay: 0;
  -webkit-animation-delay: 1.5s;
  animation-name: ui-spinner-rotate-right;
  animation-delay: 0;
  animation-delay: 1.5s; }

@keyframes ui-spinner-rotate-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes ui-spinner-rotate-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  75% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes ui-spinner-rotate-right {
  0% {
    -webkit-transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(180deg); }
  50% {
    -webkit-transform: rotate(180deg); }
  75% {
    -webkit-transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes ui-spinner-rotate-left {
  0% {
    -webkit-transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg); }
  75% {
    -webkit-transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

.page-preloader-cover .ouro .anim {
    background: none repeat scroll 0 0 #96ca2d;
}

.page-preloader-cover.show{
    display: block;
    visibility: visible;
}

.cmw-widget-container{
    background-color: transparent;
    color: #fff;
    font-size: 18px!important;
    background-image: linear-gradient(180deg, #000000 0%, #43a522 100%);
    border: 5px solid #86f473 !important;

    a, a:hover{
        color: #ffff35;
    }  
}



