@import '~scss/variables';

@-webkit-keyframes expand{
  0%{top: -100px; opacity: 0;}
  100%{top: 0;  opacity: 1;}
}
@-moz-keyframes expand{
  0%{top: -100px; opacity: 0;}
  100%{top: 0;  opacity: 1;}
}
@-o-keyframes expand{
  0%{top: -100px; opacity: 0;}
  100%{top: 0;  opacity: 1;}
}
@keyframes expand{
  0%{top: -100px; opacity: 0;}
  100%{top: 0;  opacity: 1;}
}

.content-section {
  position: relative;
  >.content-animation{
    position: relative;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 45px 0px;
    animation: expand 1s;
  }
}

@media (max-width: 767.99px) {
  .content-section>.content-animation {
    padding: 25px 0;
  }
}

@media (min-width: 768px) {
  .content-section:first-child {
    padding-top: 5.5rem;
  }
}


.background-image-fill  {
  background-position: center center;
  background-size: cover;
  text-shadow: $text-shadow;
  color: #fff;
}

.green-section {
  background-color: $green;
  color: #fff;
  text-shadow: $text-shadow;
  background: linear-gradient(top, $darker-green 0%, $green 10%, $green 90%, $darker-green 100%);
  background-color: #477c42;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23518d4b' fill-opacity='0.5' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.striped-bg-gradient {
  background-color: $grey;
  border-bottom: 1px solid #eaeadd;
  border-top: 1px solid #eaeadd;
  background: repeating-linear-gradient(45deg, $grey 0%, $grey 10%, $lighter-grey 0%, $lighter-grey 50%) 0 / 15px 15px;
  background-color: #f7f7ea;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f2f2df' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
