<section class="content-section">

	<ng-template #trackModal let-c="close" let-d="dismiss">
	  <div class="modal-header">
	    <h4 class="modal-title">Track My KWHCoins</h4>
	    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
	      <span aria-hidden="true">&times;</span>
	    </button>
	  </div>
	  <div class="modal-body">
		<form *ngIf="!trackCoinData" [formGroup]="trackForm" name="trackForm" novalidate autocomplete="off" (ngSubmit)="onTrackCoinSubmit()" >
			<div class="form-group input-group-lg">
				<label>ETH Address</label>
				<input type="text" class="form-control mb-4" maxlength="200" required name="address" formControlName="address" placeholder="Address" />
			</div>
			<div class="text-center py-3">
				<button class="btn btn-lightgreen px-4 py-2 bold" [disabled]="trackForm.pristine || trackForm.invalid" type="button" (click)="onTrackCoinSubmit()">Submit</button>
				<button class="btn btn-outline-secondary px-4 py-2 bold" (click)="d('Cross click')" type="button">Cancel</button>
			</div>
		</form>
		<div *ngIf="trackCoinData" class="text-center">
			<h4><img src="/assets/images/icons/cropped-favicon-180x180.png" style="width:48px" class="mr-2" /> {{trackCoinData.result|number:'1.0-8'}} KWH</h4>
			<div class="text-center py-3">
				<button class="btn btn-outline-secondary px-4 py-2 bold" (click)="d('Cross click')" type="button">Close</button>
			</div>
		</div>
	  </div>
	</ng-template>


	<div class="section1 content-animation pt-10">
	    <div class="section-background-overlay"></div>
	    <div class="container">
	        <div class="row">
	            <div class="col-12 text-center">
	                <img class="animation-pulse" src="/assets/images/kwh-coin-final-symbol-1-nfsc67km3jv7zaesp3nqrymiwl6p29ptko7zcp0ma8.png" />
	            </div>
	        </div>
	        <div class="row">
	        	<div class="col-12">
	        		<h1 class="text-white display-4 pt-3 pb-4 f60 text-center"><b>Renewable Energy Cryptocurrency</b></h1>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-12 text-center">
	        		<a target="_blank" href="/assets/Press-Release-01-19-2018-Pre-Sale-and-ICO-1.pdf" class="btn btn-lightgreen py-3 px-5 mx-2"><span class="boldest">ICO ANNOUNCEMENT</span></a>
	        		<app-white-paper></app-white-paper>
	        		<button type="button" class="btn btn-lightgreen py-3 px-5 mx-2" (click)="openTrackModal(trackModal)"><span class=" boldest">TRACK MY KWHCoins</span></button>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-12">
	        		<h2 class="text-white display-5 f45 pt-3 pb-4 text-center">KWHCoin ICO Starts {{dateStr}}!</h2>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-12">
	        		<app-countdown-timer [date]="date"></app-countdown-timer>
	        	</div>
	        </div>
			<div class="row">
				<div class="col-12 mb-3 mt-5">
					<div id="coin_widget"></div>
				</div>
			</div>
	        <div class="row">
	        	<div class="col-12">
	        		<div class="f25 mt-3 mb-3 text-center text-white">The stated price for each KWHCoin, during ICO, will be determined by market demand.</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-12">
	        		<div class="bolder mt-4 pb-5 mb-2 text-center text-yellow">STAY INFORMED! <a class="text-white" routerLink="/ico-information">Join Our Mailing List</a> and learn important ICO information as it unfolds.</div>
	        	</div>
	        </div>
	    </div>
	</div>
</section>

<section class="content-section">
	<div class="section2 content-animation">
		<div class="container pt-5 pb-5">
			<div class="row">
				<div class="col-12">
					<h3 class="bolder text-center pb-4">Join. Bounty. Social Links.</h3>
				</div>
			</div>
			<div class="row text-uppercase">
				<div class="col-md-6">
					<a class="btn btn-lightgreen w-100 mb-4 btn-lg" href="http://www.kwhcoin.com/joinus"><span class="f17 boldest">JOIN OUR BLOCKCHAIN</span></a>
				</div>
				<div class="col-md-6">
					<a class="btn btn-lightgreen w-100 mb-4 btn-lg" href="https://bitcointalk.org/index.php?topic=2752316"><span class="f17 boldest">Bitcointalk Bounty Program</span></a>
				</div>
				<div class="col-md-6">
					<a class="btn btn-lightgreen w-100 mb-4 btn-lg" href="https://t.me/joinchat/Hb6FqhIgWqn9lJ5rNSCGMg"><span class="f17 boldest">TELEGRAM CHANNEL</span></a>
				</div>
				<div class="col-md-6">
					<a class="btn btn-lightgreen w-100 btn-lg" href="https://www.facebook.com/groups/526949134303383"><span class="f17 boldest">FACEBOOK GROUP</span></a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="content-section">
	<div class="section3 content-animation">
		<div class="container">
			<div class="row pt-5 pb-4 text-white">
				<!--div class="col-md-6">
					<div class="rounded-image-wrapper mb-5"><img src="/assets/images/renewable-enegery-cryptocurrency.png" class="w-100" /></div>
					<div class="rounded-image-wrapper"><img src="/assets/images/blockchain-based-cryptocurrney-renewable-energy.png" class="w-100 mb-5" /></div>
				</div-->
				<div class="col-12">
					<h2>About KWHCoin</h2>
					<p class="mb-4">KWHCoin is a blockchain-based community, ecosystem and cryptocurrency backed by units of clean, renewable energy. Physical units of kWh energy are leveraged from multiple sources including smart meters, sensor readings and green button data. This measurable output is tokenized on the blockchain to create KWH tokens.</p>
					<div class="container-fluid px-0 pt-3">
						<div class="row">
							<div class="col-12 col-md-6">
								<iframe width="100%" height="315" src="https://www.youtube.com/embed/hSqeyKeQsjE?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
								<h5>John McAfee talks about KWHCoin and other popular third-generation coins.</h5>
								<p>To view the points in the video when he talks about KWHCoin, go to 8:30, 19:00 and 41:30. </p>
							</div>
							<div class="col-12 col-md-6 pt-1">
								<iframe width="100%" height="315" src="https://www.youtube.com/embed/cgStgMyR9sY?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								<h5>Vitalik Buterin explains how Decentralization will change the world and how Ethereum will help.</h5>
								<p>At 15:00 listen to Ethereum founder Vitalik Buterin talking about decentralized solar energy. </p>
							</div>
						</div>
					</div>

					<h4 class="text-center text-md-left">Our Mission</h4>
					<p class="mb-4 text-center text-md-left">
						To improve the lives of the 1.2 billion people across the globe without reliable energy access. KWHCoin will achieve this by building a platform that allows anybody in the world to buy or sell renewable energy resources through The Grid—a blockchain-based renewable energy platform.
					</p>
					<p class="mb-4 text-center text-md-left">
						KWHCoin will allow the underserved to claim energy independence. Not only will they have the freedom to choose their energy providers, but they can also sell their own renewable energy to others through The Grid in the form of KWH tokens. 
					</p>
					<p class="text-center text-md-left">
						By lowering the cost of renewable energy transactions, KWHCoin will allow renewable energy to expand and bring newfound power to the farthest reaches of the world.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="content-section">
	<div class="section4 content-animation">
		<div class="container pt-5 pb-4">
			<div class="row">
				<div class="col-md-6">
					<h4>Industry Capital Expenditures</h4>
					<img src="/assets/images/Picture1-1024x455.png" class="w-100" />
				</div>
				<div class="col-md-6">
					<h2>Cryptocurrency is the Future</h2>
					<p>In 2015, U.S. electric utilities spent <strong class="boldest">$103 billion</strong> in capital expenditures to maintain and upgrade the grid. Distributed energy resources can be aggregated to provide services to the electric grid dramatically reducing costs and increasing energy efficiency.</p>
					<p><strong class="boldest">KWHCoin’s</strong> solution is to build a decentralized network of energy resources by connecting them through blockchain technology. Export energy is converted to KWH tokens and transferred to users' digital wallets on our peer-to-peer energy trading application—The Grid.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!--section class="content-section">
	<div class="section5 content-animation testimonial bg-fixed">
		<div class="container pb-5 invert">
			<div class="row">
				<div class="col-12">
					<h2 class="mb-4">Testimonials</h2>
					<blockquote class="text-center text-lg-left">
						<img src="/assets/images/brian-avatar-90x90.png" class="rounded-image-wrapper rounded-circle mb-4" />
						<p class="posrel f16">I am very proud to represent KWHCoin energy . I have learned that the purpose of KWHCoin energy is to add value to a new generation of energy users, energy producers and regular folks like me. The whole idea of having an app that is very similar to The Uber or Lyft Rideshare company approach…</p>
						<div class="f30">Brian Hill</div>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
</section-->